---

---

<style>
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.3s;
  }

  .navbar.transparent {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .navbar li {
    padding: 1rem;
  }
</style>

<nav class='navbar font-semibold'>
  <ul>
    <li><a href='#home'>Home</a></li>
    <li><a href='#about'>About</a></li>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#contact'>Contact</a></li>
  </ul>
</nav>
